body {
	background-color: dimgray;
	color: gray;
}

/*{padding:0;margin:0;}*/

.plant {
	border:1px solid;
	border-color: blue;
	background-color: black;
	color: white;
	font-family:Arial,Helvetica,sans-serif;
	overflow: hidden;
	padding:0;
	margin:0;
}

.plant:after {
	content:"";
	display: block;
	clear: both;
	overflow: hidden;
}

.plant h1 {
	text-align:center;
	text-transform:uppercase;
}

.node-flex {
	border:1px solid;
	border-color: yellow;
	background-color: black;
	color: white;
	font-family:Arial,Helvetica,sans-serif;
	display: flex;
	flex:1
/* 	height: 150px; */
	padding:0;
	margin:0;
}

.node-flex:after {
	content:"";
	display: block;
	clear: both;
	overflow: hidden;
}